<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="banner">
          <img
            srcset="
              /images/support-landing-page/painting-and-staining/valuflex-landing-banner-xs.jpg  576w,
              /images/support-landing-page/painting-and-staining/valuflex-landing-banner-sm.jpg  768w,
              /images/support-landing-page/painting-and-staining/valuflex-landing-banner-md.jpg  992w,
              /images/support-landing-page/painting-and-staining/valuflex-landing-banner-lg.jpg 1200w,
              /images/support-landing-page/painting-and-staining/valuflex-landing-banner-xl.jpg 1920w
            "
            class="img-fluid"
            sizes="100vw"
            src="/images/support-landing-page/painting-and-staining/valuflex-landing-banner-xl.jpg"
            alt="Barn door banner 1"
          />
          <div class="top-center-container">
            <div class="light-text">
              <h1>The Painting & Staining Guide</h1>
              <h2>to ValuFlex</h2>
            </div>
            <!-- .light-text -->
          </div>
          <!-- .top-center-container -->
        </div>
        <!-- .banner -->
      </div>
      <!-- .col-12 -->
    </div>
    <!-- .row  -->
  </div>
  <!-- .container-fluid -->
  
  <div class="container container-landing-page">
    <div class="row justify-content-center landing-text-container">
      <div class="col-8 text-center  landing-text-box">
        <!-- <h1>Valuflex&#8482;: How to order curved mouldings</h1> -->
        <p style="font-size: 1rem">
          If you are looking to renovate your space with ValuFlex moulding, look
          no further! You can customize it yourself to match what your home
          already has. Whether you want to stain or paint the moulding, your guide
          is below.
        </p>
      </div>
    </div>
    <div class="row landing-text-container pb-1">
      <!-- .col-12 landing-text-box-->
  
      <div class="col-12 d-none align-self-center d-md-block col-md-7 ">
        <div
          style="width: 100%; height: 2rem; background-color:#0054a6; border-radius: 0.25rem; "
        ></div>
      </div>
      <!-- col-5 -->
      <div class="col-12  col-md-5 text-center  px-1  landing-text-box">
        <h1>DIY ValuFlex Painting</h1>
      </div>
      <!-- col-12 col-sm-6  col-md-3 -->
      <div class="col-12 col-md-4 landing-text-box">
          <h2 class="text-center text-md-right">Your step by step guide to painting your ValuFlex.</h2>
          
        </div>
    </div>
    <!-- .row -->
  
    <div class="row justify-content-center landing-text-container">
      <div class="col-12 col-md-4 landing-text-box">
        <img
          src="/images/support-landing-page/painting-and-staining/white-paint-brush.jpg"
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <div class="col-12 col-md-8 landing-text-box ">
        <ol>
          <li type="1">
            <h5>Fill and Sand</h5>
            <p style="font-size: 1rem">
              Like you would with wood, use a filler that will adhere to a
              urethane, petroleum-based product.
            </p>
          </li>
          <li type="1" value="2">
            <h5>A. When Using Water Based Latex Paint</h5>
            <p style="font-size: 1rem">
              Proceed as you would with any paintable product.
            </p>
          </li>
          <li type="1" value="2">
            <h5>B. When Using Oil Based Paint</h5>
            <p style="font-size: 1rem">
              Warning! Oil-based paint may create a reaction where the oil based
              paint may not dry. For proper application of oil-based paint; apply
              two base coats of latex enamel (water-based) paint as your primer.
              When water based paint is fully cured, proceed to apply your
              oil-based paint.
            </p>
          </li>
          <li type="1" value="3">
              <h5>Apply Enamel</h5>
              <p style="font-size: 1rem">
                Latex Enamel or Oil Based Enamel, like straight mouldings, and
                finish the same.
              </p>
            </li>
            <li type="1">
              <h5>LET DRY</h5>
              <p style="font-size: 1rem">Enjoy!</p>
            </li>
        </ol>
      </div>
      <div class="col-12 col-md-4  landing-text-box">
       
        <ol>
            <li type="1" value="3">
                <h5>Apply Enamel</h5>
                <p style="font-size: 1rem">
                  Latex Enamel or Oil Based Enamel, like straight mouldings, and
                  finish the same.
                </p>
              </li>
              <li type="1">
                <h5>LET DRY</h5>
                <p style="font-size: 1rem">Enjoy!</p>
              </li>
        </ol>
      </div>
    </div>
    <!-- row -->
    <div class="row landing-text-container ">
      <div class="col-12 col-md-4 text-center landing-text-box">
        <h2>Casing</h2>
  
        <ol>
          <li type="A">
            <p>
              On true half-circles, order by radius (equals ½ of diameter) or by
              diameter. (Please state “radius” or “diameter” when ordering.)
            </p>
          </li>
          <li type="A">
            <p>
              When ordering arches, please state “span and rise” (ie: 21” span x
              6” rise)
            </p>
          </li>
          <li type="A">
            <p>Ellipses & Ovals always require a template.</p>
          </li>
        </ol>
      </div>
      <div class="col-12 col-md-4 text-center landing-text-box">
        <h2>Ovals</h2>
  
        <ol>
          <li type="A">
            <p>A paper or cardboard template must be provided.</p>
          </li>
          <li type="A">
            <p>
              Specify IR (Inside Radius aka: concave) or OR (Outside Radius
              aka:convex)
            </p>
          </li>
          <li type="A">
            <p>
              We manufacture the FLEX so that the seams are in the middle as shown
              in the drawing (to the left). This allows for easier installation.
            </p>
          </li>
        </ol>
      </div>
      <div class="col-12 col-md-4 text-center  landing-text-box">
        <h2>Panel Moulds, Lineal Moulds, Chair Rail</h2>
  
        <ol>
          <li type="A">
            <p>
              If used horizontally on curved walls, straight lengths will work.
            </p>
          </li>
        </ol>
      </div>
      <!-- col-12 col-md-4 -->
    </div>
    <!-- row -->
  
    <div class="row justify-content-center landing-text-container">
      <div class="col-12 col-md-4 landing-text-box">
        <h2 class="text-center text-md-right">
          Your step by step guide to painting your ValuFlex.
        </h2>
      </div>
      <div class="col-12 col-md-4 landing-text-box">
        <h2 class="text-center">Archtop</h2>
        <p class="mb-0 text-center">(Eyebrow or Springline)</p>
        <p>
          <strong>
            Casing: Length = Width + Height + 6" ÷ 12" Crown: Length = Width +
            Height + 12" ÷ 12"</strong
          >
        </p>
        <img
          src="/images/support-landing-page/painting-and-staining/inset-2-valuflex-measuring-archtop.jpg "
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <div class="col-12 col-sm-6  col-md-3 landing-text-box">
        <h2 class="text-center">Oval</h2>
        <p>Paper or Cardboard Template <strong> (Always Required) </strong></p>
        <img
          src="/images/support-landing-page/painting-and-staining/inset-3-valuflex-measuring-oval.jpg "
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <div class="col-12 col-sm-6  col-md-3 landing-text-box">
        <h2 class="text-center">Ellipse</h2>
        <p>Paper or Cardboard Template <strong> (Always Required) </strong></p>
        <img
          src="/images/support-landing-page/painting-and-staining/inset-4-valuflex-measuring-ellipse.jpg "
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <!--  col-12 col-md-6 text-center   landing-text-container -->
    </div>
    <div class="row landing-text-container ">
      <div class="col-12 d-none align-self-center d-sm-block">
        <div
          style="width: 100%; height: 2rem; background-color:#0054a6; border-radius: 0.25rem; "
        ></div>
      </div>
      <!-- col-12 d-none align-self-center d-sm-block -->
    </div>
    <!-- row -->
  
    <div class="row justify-content-center landing-text-container">
      <div class="col-12 col-md-6 landing-text-box">
        <img
          src="/images/support-landing-page/painting-and-staining/inset-8-valuflex-measuring-hints-on-how-to-figure-radius.jpg"
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <!-- col-6 -->
      <div class="col-12 landing-text-box">
        <h2 class="text-center">5-Year Warranty</h2>
        <p>
          EL & EL Wood Products Corporation warrants that for 5-years ValuFlex™
          moulding is free from defects in material and workmanship. Upon proper
          installation of the moulding, EL & EL Wood Products will repair or
          replace, at its option, any ValuFlex moulding that has failed as a
          result of defective material or workmanship, of EL & EL Wood Products.
          ValuFlex is not warrantied for exterior use. In the event of a claim
          against this warranty, proof of purchase, with date, will be required to
          affect such a claim. Installation and finishing cost is not included. No
          other warranty is expressed or implied.
        </p>
      </div>
      <!-- col-12 landing-text-box -->
    </div>
    <!-- row -->
  </div>
  <!-- .container -->
  

  
  <div class="row landing-text-container pb-1">
      <!-- .col-12 landing-text-box-->
  
      <div class="col-12  col-md-5 text-center  px-1  landing-text-box">
        <h1>DIY ValuFlex Staining</h1>
      </div>
      <!-- col-12 col-sm-6  col-md-3 -->
  
      <div class="col-12 d-none align-self-center d-md-block col-md-7 ">
        <div
          style="width: 100%; height: 2rem; background-color:#0054a6; border-radius: 0.25rem; "
        ></div>
      </div>
      <!-- col-5 -->
      <div class="col-12 landing-text-box">
        <h2 class="text-center text-md-right">
          Your step by step guide to staining your ValuFlex.
        </h2>
      </div>
      <!-- col-12 -->
    </div>
    <!-- .row -->
  
    <div class="row landing-text-container ">
      <div class="col-12 col-md-4 text-center landing-text-box">
        <h2>Casing</h2>
  
        <ol>
          <li type="A">
            <p>
              On true half-circles, order by radius (equals ½ of diameter) or by
              diameter. (Please state “radius” or “diameter” when ordering.)
            </p>
          </li>
          <li type="A">
            <p>
              When ordering arches, please state “span and rise” (ie: 21” span x
              6” rise)
            </p>
          </li>
          <li type="A">
            <p>Ellipses & Ovals always require a template.</p>
          </li>
        </ol>
      </div>
      <div class="col-12 col-md-4 text-center landing-text-box">
        <h2>Ovals</h2>
  
        <ol>
          <li type="A">
            <p>A paper or cardboard template must be provided.</p>
          </li>
          <li type="A">
            <p>
              Specify IR (Inside Radius aka: concave) or OR (Outside Radius
              aka:convex)
            </p>
          </li>
          <li type="A">
            <p>
              We manufacture the FLEX so that the seams are in the middle as shown
              in the drawing (to the left). This allows for easier installation.
            </p>
          </li>
        </ol>
      </div>
      <div class="col-12 col-md-4 text-center  landing-text-box">
        <h2>Panel Moulds, Lineal Moulds, Chair Rail</h2>
  
        <ol>
          <li type="A">
            <p>
              If used horizontally on curved walls, straight lengths will work.
            </p>
          </li>
        </ol>
      </div>
      <!-- col-12 col-md-4 -->
    </div>
    <!-- row -->
  
    <div class="row justify-content-center landing-text-container">
      <div class="col-12 col-md-4 landing-text-box">
        <h2 class="text-center text-md-right">
          Your step by step guide to painting your ValuFlex.
        </h2>
      </div>
      <div class="col-12 col-md-4 landing-text-box">
        <h2 class="text-center">Archtop</h2>
        <p class="mb-0 text-center">(Eyebrow or Springline)</p>
        <p>
          <strong>
            Casing: Length = Width + Height + 6" ÷ 12" Crown: Length = Width +
            Height + 12" ÷ 12"</strong
          >
        </p>
        <img
          src="/images/support-landing-page/painting-and-staining/inset-2-valuflex-measuring-archtop.jpg "
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <div class="col-12 col-sm-6  col-md-3 landing-text-box">
        <h2 class="text-center">Oval</h2>
        <p>Paper or Cardboard Template <strong> (Always Required) </strong></p>
        <img
          src="/images/support-landing-page/painting-and-staining/inset-3-valuflex-measuring-oval.jpg "
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <div class="col-12 col-sm-6  col-md-3 landing-text-box">
        <h2 class="text-center">Ellipse</h2>
        <p>Paper or Cardboard Template <strong> (Always Required) </strong></p>
        <img
          src="/images/support-landing-page/painting-and-staining/inset-4-valuflex-measuring-ellipse.jpg "
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <!--  col-12 col-md-6 text-center   landing-text-container -->
    </div>
    <div class="row landing-text-container ">
      <div class="col-12 d-none align-self-center d-sm-block">
        <div
          style="width: 100%; height: 2rem; background-color:#0054a6; border-radius: 0.25rem; "
        ></div>
      </div>
      <!-- col-12 d-none align-self-center d-sm-block -->
    </div>
    <!-- row -->
  
    <div class="row justify-content-center landing-text-container">
      <div class="col-12 col-md-6 landing-text-box">
        <img
          src="/images/support-landing-page/painting-and-staining/inset-8-valuflex-measuring-hints-on-how-to-figure-radius.jpg"
          class="d-block w-100"
          alt="Shiplap Beauty Image"
        />
      </div>
      <!-- col-6 -->
      <div class="col-12 landing-text-box">
        <h2 class="text-center">5-Year Warranty</h2>
        <p>
          EL & EL Wood Products Corporation warrants that for 5-years ValuFlex™
          moulding is free from defects in material and workmanship. Upon proper
          installation of the moulding, EL & EL Wood Products will repair or
          replace, at its option, any ValuFlex moulding that has failed as a
          result of defective material or workmanship, of EL & EL Wood Products.
          ValuFlex is not warrantied for exterior use. In the event of a claim
          against this warranty, proof of purchase, with date, will be required to
          affect such a claim. Installation and finishing cost is not included. No
          other warranty is expressed or implied.
        </p>
      </div>
      <!-- col-12 landing-text-box -->
    </div>
  <!-- row -->