<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/painting-and-staining/valuflex-landing-banner-xs.jpg  576w,
            /images/support-landing-page/painting-and-staining/valuflex-landing-banner-sm.jpg  768w,
            /images/support-landing-page/painting-and-staining/valuflex-landing-banner-md.jpg  992w,
            /images/support-landing-page/painting-and-staining/valuflex-landing-banner-lg.jpg 1200w,
            /images/support-landing-page/painting-and-staining/valuflex-landing-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/painting-and-staining/valuflex-landing-banner-xl.jpg"
          alt="ValuFlex painting and staining "
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>The Painting & Staining Guide</h1>
            <h2>to ValuFlex</h2>
            <a
            href="/landing-pages/valuflex"
            class="btn btn-sm btn-elandel"
            ><i class="fal fa-chevron-left"></i
              > Back to Valuflex </a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12 -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-md-8 text-center  landing-text-box">
      <!-- <h1>Valuflex&#8482;: How to order curved mouldings</h1> -->
      <p class="one-rem-text-desktop">
        If you are looking to renovate your space with ValuFlex moulding, look
        no further! You can customize it yourself to match what your home
        already has. Whether you want to stain or paint the moulding, your guide
        is below.
      </p>
    </div>
  </div>
  <div class="row landing-text-container pb-1">
    <!-- .col-12 landing-text-box-->

    <div class="col-12 d-none align-self-center d-md-block col-md-7 ">
      <div class="rounded w-100 custom-select-sm btn-elandel" ></div>
    </div>
    <!-- col-5 -->
    <div class="col-12  col-md-5 text-center  px-1  landing-text-box">
      <h1>DIY ValuFlex Painting</h1>
    </div>
    <!-- col-12 col-sm-6  col-md-3 -->
    <div class="col-12 pt-3 pt-md-0 landing-text-box">
      <h2 class="text-center text-md-right">
        Your step by step guide to painting your ValuFlex.
      </h2>
    </div>
  </div>
  <!-- .row -->

  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-md-4 landing-text-box">
      <img
        src="/images/support-landing-page/painting-and-staining/white-paint-brush.jpg"
        class="d-block w-100 pb-2"
        alt="ValuFlex white paint brush water-based"
      />
    </div>
    <div class="col-12 col-md-8 align-self-center landing-text-box ">
      <ol>
        <li type="1">
          <h5>Fill and Sand</h5>
          <p class="one-rem-text-desktop">
            Like you would with wood, use a filler that will adhere to a
            urethane, petroleum-based product.
          </p>
        </li>
        <li type="1" value="2">
          <br />
          <ol>
            <li type="A">
              <h5>When Using Water Based Latex Paint</h5>
              <p class="one-rem-text-desktop">
                Proceed as you would with any paintable product.
              </p>
            </li>
            <li type="A">
              <h5>When Using Oil Based Paint</h5>
              <p class="one-rem-text-desktop">
                Warning! Oil-based paint may create a reaction where the oil
                based paint may not dry. For proper application of oil-based
                paint; apply two base coats of latex enamel (water-based) paint
                as your primer. When water based paint is fully cured, proceed
                to apply your oil-based paint.
              </p>
            </li>
          </ol>
        </li>
        <li type="1" value="3">
          <h5>Apply Enamel</h5>
          <p class="one-rem-text-desktop">
            Latex Enamel or Oil Based Enamel, like straight mouldings, and
            finish the same.
          </p>
        </li>
        <li type="1">
          <h5>LET DRY</h5>
          <p class="one-rem-text-desktop">Enjoy!</p>
        </li>
      </ol>
    </div>
  </div>
  <!-- row -->
  <div class="row landing-text-container pb-3">
    <div class="col-12  col-md-5 text-center  px-1  landing-text-box">
      <h1>DIY ValuFlex Staining</h1>
    </div>
    <div class="col-12 d-none align-self-center d-md-block col-md-7 ">
      <div class="rounded w-100 custom-select-sm btn-elandel" ></div>
    </div>
    <!-- .col-12 landing-text-box-->

    <!-- col-12 col-sm-6  col-md-3 -->
    <div class="col-12  pt-3 pt-md-0 landing-text-box">
      <h2 class="text-center text-md-left">
        Your step by step guide to staining your ValuFlex.
      </h2>
    </div>
  </div>
  <!-- .row -->

  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-md-4 landing-text-box">
      <img
        src="/images/support-landing-page/painting-and-staining/staining-paint-brush.jpg"
        class="d-block w-100 pb-2"
        alt="ValuFlex oil-based paint"
      />
    </div>
    <div class="col-12 col-md-8 align-self-center landing-text-box ">
      <ol>
        <li type="1">
          <h5>WE STRONGLY RECOMMEND</h5>
          <p class="one-rem-text-desktop">
            that first time users practice on a piece of scrap ValuFlex moulding
            before finishing the moulding being used for the job.
          </p>
        </li>
        <li type="1" value="2">
          <p class="one-rem-text-desktop">
            Remember, wood is porous, ValuFlex is not. We suggest you use a
            water based full body stain ZAR Wood Finishing Products are
            recommended
          </p>
        </li>
        <li type="1">
          <p class="one-rem-text-desktop">
            To reveal grain, apply stain and wipe off, then begin the staining
            process.
          </p>
        </li>
        <li type="1">
          <p class="one-rem-text-desktop">
            Apply stain in thin coats with brush or spray gun, the achieve
            desired color. Removing excess with a dry cloth.
          </p>
          <h5>If Using An Oil Based Stain:</h5>
          <p class="one-rem-text-desktop">
            Apply (2) coats of a clear wood finish (recommended, Deft Clear Wood
            Finish) to the entire product. Apply stain as directed.
          </p>
        </li>
        <li type="1">
          <h5>LET DRY</h5>
          <p class="one-rem-text-desktop">Enjoy!</p>
        </li>
      </ol>
    </div>
  </div>
  <!-- row -->
</div>
<!-- .container -->
